---
import './Buttons.css'
import { FaPhone } from "react-icons/fa";
---

<div class="phone-pos">
  <a
    href="tel:+359879914560"
    class="floating-button phone-bg fade-pulse"
    aria-label="Свържи се с нас"
  >
    <FaPhone size={26} />
  </a>
  <div class="info-bubble phone">
    <strong>Връзка с нас</strong><br />
    0876 771 557
  </div>
</div>

