---
import './Buttons.css'
import { FaViber } from "react-icons/fa";
---

<div class="viber-pos">
  <a
    href="viber://chat?number=%2B359876771557"
    class="floating-button viber-bg fade-pulse"
    aria-label="Свържи се с Viber"
  >
    <FaViber size={32} />
  </a>
  <div class="info-bubble viber">
    <strong>Viber</strong><br />
    0876 771 557
  </div>
</div>

