---
import './ForYou.css'
import { data } from "../constants/forYouData.js";
---

<section id="uslugi" class="section-main-fy">
  <section class="section-for-you">
    {data.map(({icon: Icon,title, subTitle, text }) => 
    <div class="content-fy">
      <span class="icon"> <Icon/> </span>
      <div class="info">
        <h3>{title}</h3>
        <p>{subTitle}</p>
        <p>{text}</p>
      </div>
    </div>
    )}

    <!-- <div class="content">
      <span class="icon"> ☎ </span>
      <div class="info">
        <h3>НАЙ-ДОБРА ЦЕНА ВЕДНАГА</h3>
        <p>Професионално оценяване</p>
        <p>
          Получете справедлива оферта за стария си автомобил още днес — без
          скрити такси и излишно чакане.
        </p>
      </div>
    </div>

    <div class="content">
      <span class="icon"> ☎ </span>
      <div class="info">
        <h3>НАЙ-ДОБРА ЦЕНА ВЕДНАГА</h3>
        <p>Професионално оценяване</p>
        <p>
          Получете справедлива оферта за стария си автомобил още днес — без
          скрити такси и излишно чакане.
        </p>
      </div>
    </div>

    <div class="content">
      <span class="icon"> ☎ </span>
      <div class="info">
        <h3>НАЙ-ДОБРА ЦЕНА ВЕДНАГА</h3>
        <p>Професионално оценяване</p>
        <p>
          Получете справедлива оферта за стария си автомобил още днес — без
          скрити такси и излишно чакане.
        </p>
      </div>
    </div> -->
  </section>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const contents = document.querySelectorAll("#uslugi .content-fy");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("revealed");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 1,
      }
    );

    contents.forEach((el, i) => {
      el.style.transitionDelay = `${i * 0.2}s`;
      observer.observe(el);
    });
  });
</script>
