 .section-main-fy {
    .section-for-you {
      display: flex;
      margin: 0 auto;
      margin-top: 3em;
      margin-bottom: 3em;
      max-width: 60%;
      flex-wrap: wrap;
      gap: 3em;

    }
    
    .content-fy {
      flex: 1 1 300px;
      display: flex;
      gap: 2em;
      align-items: center;
    }

    .icon {
      display: flex;
      background-color: #f4f5f5;
      min-width: 180px;
      min-height: 180px;
      align-items: center;
      justify-content: center;
      font-size: 6em;
      border-radius: 0.2em;
      color: #444;
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    }

    h3 {
      margin-bottom: 0.5em;
      color: #444;
      max-width: 15ch;
    }

    p {
      margin-bottom: 0.2em;
      font-size: 1.2em;
      color: #99bf38;
      max-width: 36ch;
    }

    p + p {
      font-size: 0.9em;
      color: #444;
    }
  }

  .content-fy {
    opacity: 0;
    transform: translateY(2rem);
    transition:
      opacity 1s ease,
      transform 1s ease;
  }

  .content-fy.revealed {
    opacity: 1;
    transform: translateY(0);
  }