---
import "./Contact.css";
---

<section id="kontakti" class="section-main-contact">
  <section class="section-contact">
    <div class="content">
      <h2>뉋햇햎햊 뤯뱷돯먫뭻 햄햙먫 햊 햍햇햐햏</h2>
      <form class="form">
        <div class="fields">
          <div class="field icon">
            <input type="text" placeholder="뉋썜걣왐 햦햪햣" required />
          </div>
          <div class="field icon">
            <input type="number" placeholder="359XXXXXXXXX" required />
          </div>
        </div>
        <a href="#" type="submit" class="submit-btn">
          <span class="icon">游눫</span>
          햊행먫냻뭻
        </a>
      </form>
    </div>
  </section>
</section>

