<section class="section">
  <footer class="section-footer">
    <div class="table">
      <a href="/" id="footerScroll">
        <img src="/ZAKMETAL.png.png" alt="" />
      </a>
      <p>
        Zakmetal.net извършва изкупуване и рециклиране на автомобили за скрап в
        цяла България. Бързо обслужване, документ за КАТ и плащане на място.
      </p>
    </div>
    <div class="table">
      <h3>Полезни връзки</h3>
      <ul>
        <li><a href="#">Начало</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">За нас</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </div>
    <div class="table footer-info">
      <h3>Връзка с нас</h3>
      <ul>
        <li>☎ 0876 771 557</li>
        <li>🕰 24/7 обслужване</li>
      </ul>
    </div>
  </footer>
</section>
<footer class="secondary-footer">
  <p><span>© {new Date().getFullYear()} Zakmetal.net</span> — Всички права запазени.</p>
</footer>

<style>
  .section {
    position: relative;
    background: #31353d;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #444;
    }

    .section-footer {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #b3b3b3;

      .table {
        padding-bottom: 3em;

        li {
          display: block;
          margin-top: 0.5em;
        }

        li a {
          display: inline-block;
          text-decoration: none;
          color: inherit;
          font-size: 1em;
          opacity: 0.9;

          &:hover {
            color: #99bf38;
            opacity: 1;
          }
        }

        &.footer-info {
          li {
            color: #99bf38;
          }
        }

        h3 {
          margin-top: 3em;
          color: #fff;
        }

        p {
          margin-top: 0.5em;
          max-width: 37ch;
          font-size: 0.9em;
          opacity: 0.9;
        }

        img {
          background-color: #fff;
          padding: 0.2em;
          border-radius: 0.3em;
          margin-top: 3.5em;
          display: block;
          max-width: 240px;
          height: auto;
        }
      }
    }
  }
  .secondary-footer {
    background: #31353d;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    p {
      padding: 1em;
      color: #b3b3b3;
      font-size: 0.9em;
      text-align: center;
      opacity: 0.7;
    }
  }
</style>

<script>
  import { attachScrollToTop } from "../js/attachScrollToTop";

  attachScrollToTop("footerScroll");
</script>
