.section-main-about {
    background: #f9f9f9;
    padding: 4em 2em;
    margin-top: 3em;
    perspective: 1000px;
    
    h2{
      color: #363634;
    }

    .motion-wrapper {
      transform-style: preserve-3d;
    }

    .section-about {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1.5em;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 2em;
    }

    .about-image {
      flex: 1 1 45%;
      height: 350px;
      background: url("/about.avif") center/cover no-repeat;
      border-radius: 1em;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .about-content {
      flex: 1 1 50%;

      h2 {
        font-size: 2.5em;
        margin-bottom: 0.3em;
      }

      h3 {
        font-size: 1.5em;
        color: #99bf38;
        margin-bottom: 1em;
      }

      p {
        margin-bottom: 1.5em;
        line-height: 1.6;
      }

      .highlights {
        list-style: none;
        margin: 0 0 1.5em 0;
        padding: 0;
      }
    }
  }