---
import './Footer.css'
---

<section class="section-main-footer">
  <footer class="section-footer">
    <div class="table">
      <a href="/" id="footerScroll">
        <img src="/ZAKMETAL.png.png" alt="" />
      </a>
      <p>
        Zakmetal.net извършва изкупуване и рециклиране на автомобили за скрап в
        цяла България. Бързо обслужване, документ за КАТ и плащане на място.
      </p>
    </div>
    <div class="table">
      <h3>Полезни връзки</h3>
      <ul>
        <li><a href="#">Начало</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">За нас</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </div>
    <div class="table footer-info">
      <h3>Връзка с нас</h3>
      <ul>
        <li>☎ 0876 771 557</li>
        <li>🕰 24/7 обслужване</li>
      </ul>
    </div>
  </footer>
</section>
<footer class="secondary-footer">
  <p><span>© {new Date().getFullYear()} Zakmetal.net</span> — Всички права запазени.</p>
</footer>

<style>
  
</style>

<script>
  import { attachScrollToTop } from "../../js/attachScrollToTop";

  attachScrollToTop("footerScroll");
</script>
