.section-main-footer {
    position: relative;
    background: #31353d;
    padding: 2em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #444;
    }

    .section-footer {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #b3b3b3;
      gap: 1em;

      .table {
        li {
          display: block;
          margin-top: 0.5em;
        }

        li a {
          display: inline-block;
          text-decoration: none;
          color: inherit;
          font-size: 1em;
          opacity: 0.9;

          &:hover {
            color: #99bf38;
            opacity: 1;
          }
        }

        &.footer-info {
          li {
            color: #99bf38;
          }
        }

        h3 {
          color: #fff;
        }

        p {
          margin-top: 0.5em;
          max-width: 37ch;
          font-size: 0.9em;
          opacity: 0.9;
        }

        img {
          background-color: #fff;
          padding: 0.2em;
          border-radius: 0.3em;
          display: block;
          max-width: 240px;
          height: auto;
        }
      }
    }
  }
  .secondary-footer {
    background: #31353d;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    p {
      padding: 1em;
      color: #b3b3b3;
      font-size: 0.9em;
      text-align: center;
      opacity: 0.7;
    }
  }