---
import './ContactButtons.css'
import PhoneButton from '../buttons/PhoneButton.astro';
import ViberButton from '../buttons/ViberButton.astro';
---

<div class="floating-buttons">
  <div class="button-wrapper">
    <PhoneButton />
    <ViberButton />
  </div>
</div>
