---
import './Banner.css'
import ScrollButton from '../../js/Scrollbutton'
---

<section id="top" class="section-main-banner">
  <section class="section-banner animate-fade-slide">
    <h2>Време ли е да се сбогувате със стария си автомобил?</h2>
    <ScrollButton className="button" targetId="kontakti" offset={-230} client:load>
      Свържи се с нас
    </ScrollButton>
  </section>
</section>