 .section-main-banner {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 80vh;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://images.unsplash.com/photo-1693925380766-830b8062495d?q=80&w=1280&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* opacity: 0.8; */
      z-index: 0;
    }

    .section-banner {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      align-items: center;
      position: relative;
      z-index: 1;
      background-color: #99bf38;
      padding: 2em 1em 2em 1em;
      border-radius: 1em;
      /* opacity: 2; */

      h2 {
        max-width: 30ch;
        font-size: 3em;
        text-align: center;
        line-height: 1em;
        /* padding-bottom: 1em; */
      }

      .button {
        background-color: #31353d;
        color: white;
        padding: 0.75em 2em;
        font-size: 1em;
        border-radius: 0.5em;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #fff;
          color: #31353d;
        }
      }
    }

    .categories {
      display: flex;
      gap: 0.8em;
    }

    .category {
      padding: 0.2em 1em;
      border-radius: 1em;
      background: rgba(255, 255, 255, 0.15);
      font-size: 0.8em;
      color: #fff;
      text-decoration: none;
    }
  }

  @keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-slide {
    animation: fadeSlideUp 0.6s ease-out both;
    animation-delay: 0.5s;
  }